{% extends 'base.html' %}
{% load static %}
{% block metadescription%}
    {{category.description|truncatewords:150}}
{% endblock %}

{% block title %}
    {{category.name}} from kart for unbelievable offers
{% endblock %}

{% block content %}
    <div class="row">
        <div class="mx_auto">
            <p class="text-center"> <a href="{% url 'shopping_app:allProdCat' %}" style="text-decoration: none;  color: #00f8f8;">Home</a> | <a href="{{product.category.get_url}} " style="text-decoration: none;  color: #00f8f8;">{{product.name}}</a></p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width: 18rem;">
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <h1 class="display-4 product_name">{{product.name}}</h1>
                    <p>{{product.price}}</p>
                    <h4 class="product_name" style="color: white;"> Product Description</h4>
                    <p class="text-justify lead" style="color:white">{{product.description}}</p>
                    {% if product.stock == 0 %}
                        <p><b>Out of Stock</b></p>
                    {% else %}
                    <a class="btn btn-outline-light" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}